<div class="from">
  <h5>From</h5>
  X: <input type="text" name="from_x" value="0.5">
  Y: <input type="text" name="from_y" value="0.5">
</div>
<div class="to">
  <h5>To</h5>
  X: <input type="text" name="to_x" value="1">
  Y: <input type="text" name="to_y" value="1">
</div>
