<label>Width (ratio)</label>
from <input type="number" step="0.1" name="from_x" value="1">
to <input type="number" step="0.1" name="to_x" value="2">

<label>Height (ratio)</label>
from <input type="number" step="0.1" name="from_y" value="1">
to <input type="number" step="0.1" name="to_y" value="2">
