<label>Width</label>
from <input type="text" name="from_x" value="1">
to <input type="text" name="to_x" value="1.5">

<label>Height</label>
from <input type="text" name="from_y" value="1">
to <input type="text" name="to_y" value="1.5">
