<label>X-Axis (degrees)</label>
from <input type="text" name="from_x" value="0">
to <input type="text" name="to_x" value="20">

<label>Y-Axis (degrees)</label>
from <input type="text" name="from_y" value="0">
to <input type="text" name="to_y" value="0">

