<div class="from">
  <h5>From</h5>
  X: <input type="text" name="from_x" value="0"> px
  Y: <input type="text" name="from_y" value="0"> px
</div>
<div class="to">
  <h5>To</h5>
  X: <input type="text" name="to_x" value="100"> px
  Y: <input type="text" name="to_y" value="0"> px
</div>
