@keyframes chosen-drop {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1); opacity: 0; }
  4% { transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1); }
  8% { transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1); }
  12% { transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1); opacity: 1; }
  16% { transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1); }
  20% { transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1); }
  24% { transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1); }
  28% { transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1); }
  32% { transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1); }
  36% { transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1); }
  40% { transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1); }
  44% { transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1); }
  48% { transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1); }
  52% { transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1); }
  56% { transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1); }
  60% { transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1); }
  64% { transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1); }
  68% { transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1); }
  72% { transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1); }
  76% { transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1); }
  80% { transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1); }
  84% { transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1); }
  88% { transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1); }
  92% { transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1); }
  96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

@keyframes chosen-highlight {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.1024, 0, 0, 1); }
  8% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.57304, 0, 0, 1); }
  12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.8086, 0, 0, 1); }
  16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.8735, 0, 0, 1); }
  20% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.117, 0, 0, 1); }
  24% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.92189, 0, 0, 1); }
  28% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.58145, 0, 0, 1); }
  32% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.26828, 0, 0, 1); }
  36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.05308, 0, 0, 1); }
  40% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.94109, 0, 0, 1); }
  44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.90648, 0, 0, 1); }
  48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.91637, 0, 0, 1); }
  52% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.94372, 0, 0, 1); }
  56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.97149, 0, 0, 1); }
  60% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.99187, 0, 0, 1); }
  64% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.00332, 0, 0, 1); }
  68% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.0076, 0, 0, 1); }
  72% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.00746, 0, 0, 1); }
  76% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.00536, 0, 0, 1); }
  80% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.00294, 0, 0, 1); }
  84% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.00104, 0, 0, 1); }
  88% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.9999, 0, 0, 1); }
  92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.99941, 0, 0, 1); }
  96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.99935, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10, 0, 0, 1); }
}

@keyframes checkbox-check {
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.083333% { transform: matrix3d(0.13487, 0, 0, 0, 0, 0.17253, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.125% { transform: matrix3d(0.21689, 0, 0, 0, 0, 0.29522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% { transform: matrix3d(0.30529, 0, 0, 0, 0, 0.43277, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% { transform: matrix3d(0.49196, 0, 0, 0, 0, 0.72505, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { transform: matrix3d(0.67825, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.375% { transform: matrix3d(0.76695, 0, 0, 0, 0, 1.11881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.416667% { transform: matrix3d(0.85083, 0, 0, 0, 0, 1.22056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% { transform: matrix3d(1, 0, 0, 0, 0, 1.36501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.583333% { transform: matrix3d(1.11966, 0, 0, 0, 0, 1.42714, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.625% { transform: matrix3d(1.16744, 0, 0, 0, 0, 1.42914, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { transform: matrix3d(1.20705, 0, 0, 0, 0, 1.41409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.75% { transform: matrix3d(1.26225, 0, 0, 0, 0, 1.34265, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% { transform: matrix3d(1.28767, 0, 0, 0, 0, 1.23489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.875% { transform: matrix3d(1.29044, 0, 0, 0, 0, 1.17465, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.916667% { transform: matrix3d(1.28738, 0, 0, 0, 0, 1.11385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { transform: matrix3d(1.26647, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.083333% { transform: matrix3d(1.23053, 0, 0, 0, 0, 0.90867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.125% { transform: matrix3d(1.20867, 0, 0, 0, 0, 0.87452, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% { transform: matrix3d(1.18512, 0, 0, 0, 0, 0.84885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.25% { transform: matrix3d(1.13538, 0, 0, 0, 0, 0.82312, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { transform: matrix3d(1.08574, 0, 0, 0, 0, 0.82853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.375% { transform: matrix3d(1.0621, 0, 0, 0, 0, 0.84084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.416667% { transform: matrix3d(1.03975, 0, 0, 0, 0, 0.85811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% { transform: matrix3d(1, 0, 0, 0, 0, 0.90274, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.583333% { transform: matrix3d(0.96811, 0, 0, 0, 0, 0.95285, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.625% { transform: matrix3d(0.95538, 0, 0, 0, 0, 0.97725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { transform: matrix3d(0.94483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.75% { transform: matrix3d(0.93012, 0, 0, 0, 0, 1.03782, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% { transform: matrix3d(0.92334, 0, 0, 0, 0, 1.06259, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.875% { transform: matrix3d(0.92261, 0, 0, 0, 0, 1.06965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.916667% { transform: matrix3d(0.92342, 0, 0, 0, 0, 1.07324, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { transform: matrix3d(0.92899, 0, 0, 0, 0, 1.07101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.083333% { transform: matrix3d(0.93857, 0, 0, 0, 0, 1.05875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.125% { transform: matrix3d(0.9444, 0, 0, 0, 0, 1.05004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% { transform: matrix3d(0.95067, 0, 0, 0, 0, 1.04028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.25% { transform: matrix3d(0.96393, 0, 0, 0, 0, 1.01952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { transform: matrix3d(0.97715, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.375% { transform: matrix3d(0.98345, 0, 0, 0, 0, 0.99156, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.416667% { transform: matrix3d(0.98941, 0, 0, 0, 0, 0.98434, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% { transform: matrix3d(1, 0, 0, 0, 0, 0.97408, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.583333% { transform: matrix3d(1.0085, 0, 0, 0, 0, 0.96967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.625% { transform: matrix3d(1.01189, 0, 0, 0, 0, 0.96953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { transform: matrix3d(1.0147, 0, 0, 0, 0, 0.9706, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.75% { transform: matrix3d(1.01862, 0, 0, 0, 0, 0.97567, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% { transform: matrix3d(1.02043, 0, 0, 0, 0, 0.98332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.875% { transform: matrix3d(1.02062, 0, 0, 0, 0, 0.9876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.916667% { transform: matrix3d(1.02041, 0, 0, 0, 0, 0.99192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { transform: matrix3d(1.01892, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.083333% { transform: matrix3d(1.01637, 0, 0, 0, 0, 1.00649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.125% { transform: matrix3d(1.01482, 0, 0, 0, 0, 1.00891, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% { transform: matrix3d(1.01314, 0, 0, 0, 0, 1.01073, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.25% { transform: matrix3d(1.00961, 0, 0, 0, 0, 1.01256, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { transform: matrix3d(1.00609, 0, 0, 0, 0, 1.01218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.375% { transform: matrix3d(1.00441, 0, 0, 0, 0, 1.0113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.416667% { transform: matrix3d(1.00282, 0, 0, 0, 0, 1.01007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% { transform: matrix3d(1, 0, 0, 0, 0, 1.00691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.583333% { transform: matrix3d(0.99774, 0, 0, 0, 0, 1.00335, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.625% { transform: matrix3d(0.99683, 0, 0, 0, 0, 1.00162, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { transform: matrix3d(0.99608, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.75% { transform: matrix3d(0.99504, 0, 0, 0, 0, 0.99731, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% { transform: matrix3d(0.99456, 0, 0, 0, 0, 0.99556, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.875% { transform: matrix3d(0.9945, 0, 0, 0, 0, 0.99505, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.916667% { transform: matrix3d(0.99456, 0, 0, 0, 0, 0.9948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}