@keyframes bounce-spin {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4% { transform: matrix3d(0.84983, 0.52705, 0, 0, -0.35346, 0.95749, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8% { transform: matrix3d(0.44237, 0.89683, 0, 0, -0.8521, 0.53306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12% { transform: matrix3d(0.03961, 0.99922, 0, 0, -1.00245, -0.04207, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16% { transform: matrix3d(-0.19695, 0.98041, 0, 0, -0.9593, -0.30206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { transform: matrix3d(-0.27437, 0.96162, 0, 0, -0.96162, -0.27437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24% { transform: matrix3d(-0.24885, 0.96854, 0, 0, -0.98598, -0.18099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28% { transform: matrix3d(-0.17303, 0.98492, 0, 0, -0.99097, -0.13856, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32% { transform: matrix3d(-0.08786, 0.99613, 0, 0, -0.99364, -0.11607, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36% { transform: matrix3d(-0.01908, 0.99982, 0, 0, -0.99911, -0.05617, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { transform: matrix3d(0.02322, 0.99973, 0, 0, -0.99973, 0.02322, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44% { transform: matrix3d(0.0404, 0.99918, 0, 0, -0.9982, 0.06467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48% { transform: matrix3d(0.03961, 0.99922, 0, 0, -0.99873, 0.05175, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52% { transform: matrix3d(0.02923, 0.99957, 0, 0, -0.99986, 0.01941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56% { transform: matrix3d(0.01624, 0.99987, 0, 0, -1.00008, 0.00336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { transform: matrix3d(0.00508, 0.99999, 0, 0, -0.99999, 0.00508, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64% { transform: matrix3d(-0.00227, 1, 0, 0, -1.00002, 0.00616, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68% { transform: matrix3d(-0.0057, 0.99998, 0, 0, -1.00001, -0.00149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72% { transform: matrix3d(-0.00614, 0.99998, 0, 0, -0.99996, -0.00955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76% { transform: matrix3d(-0.00483, 0.99999, 0, 0, -0.99997, -0.0093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { transform: matrix3d(-0.00291, 1, 0, 0, -1, -0.00291, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84% { transform: matrix3d(-0.00113, 1, 0, 0, -1, 0.0018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88% { transform: matrix3d(0.00012, 1, 0, 0, -1, 0.00159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92% { transform: matrix3d(0.00077, 1, 0, 0, -1, -0.00041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96% { transform: matrix3d(0.00093, 1, 0, 0, -1, -0.00062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}