.preference-bar {
  padding: 50px 55px;
  width: 300px;

  #add {
    padding-left: 19px;
    padding-right: 9px;
    margin-bottom: 10px;

    i {
      margin-left: 26px;
      font-size: 12px;
    }
  }

  input[type="text"], .type-input, .easing-input {
    width: 186px;
  }

  label {
    display: block;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: $text-dark;
    margin: 20px 0 9px 0;
  }

  .inputs {
    color: $text-dark;

    input[type="text"] {
      width: 55px;
      margin: 0 5px;
      text-align: center;
      padding: 10px 5px;
    }

    label {
      margin-bottom: 12px;
    }
  }

  .presets {
    .preset-input {
      display: block;
      width: 172px;
    }

    .chosen-container-single .chosen-single {
      padding: 10px 16px;
      text-transform: uppercase;
      font-size: 10px;
    }

    padding-bottom: 40px;
    border-bottom: 2px solid #259dce;
  }

  .components {
    overflow: auto;
    width: 210px;
  }

  .component {
    width: 190px;
    padding-bottom: 20px;
    border-bottom: 2px solid #259dce;

    .header {
      color: $text-dark;
      padding: 15px 0;

      & + label {
        margin-top: 7px;
      }
    }

    .stiffness-input {
      display: inline-block;
      width: 135px;
    }

    .stiffness-value {
      width: 38px;
      margin-left: 8px;
      text-align: center;
    }
  }
}
