.preference-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 55px;
  width: 300px;

  #add {
    padding-left: 19px;
    padding-right: 9px;
    margin-bottom: 10px;

    i {
      margin-left: 26px;
      font-size: 12px;
    }
  }

  input[type="text"], .type-input, .easing-input {
    width: 186px;
  }

  label {
    display: block;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: $text-dark;
    margin: 20px 0 9px 0;
  }

  .inputs {
    color: $text-dark;
    padding-bottom: 20px;

    input[type="text"] {
      width: 55px;
      margin: 0 5px;
      text-align: center;
      padding: 10px 5px;
    }

    label {
      margin-bottom: 12px;
    }
  }

  .presets {
    .preset-input {
      display: block;
      width: 172px;
    }

    .chosen-container-single .chosen-single {
      padding: 10px 16px;
      text-transform: uppercase;
      font-size: 10px;
    }

    padding-bottom: 40px;
    border-bottom: 2px solid #259dce;
  }

  .components {
    overflow-y: auto;
    width: 210px;
    padding-left: 10px;
    margin-left: -10px;
  }

  .component {
    width: 190px;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 2px solid #259dce;
    max-height: 800px;

    .header {
      position: relative;
      padding: 15px 0;
      font-weight: 500;
      color: white;
      cursor: pointer;
      transition: color 0.1s;

      user-select: none;

      & + label {
        margin-top: 7px;
      }

      .arrow {
        position: absolute;
        right: 0;
        top: 16px;
        display: inline-block;
        width: 12px;
        height: 10px;
        background-size: 144px 10px;
        background-image: inline-image("arrow_sprite_sheet.png");
        background-repeat: no-repeat;
      }
    }


    .stiffness-input {
      display: inline-block;
      width: 135px;
    }

    .stiffness-value {
      width: 38px;
      margin-left: 8px;
      text-align: center;
    }

    &.open {
      transition: max-height 0.25s;

      .header {
        .arrow {
          animation: arrow-up 0.15s steps(5) both;
        }
      }
    }

    &.closed {
      max-height: 45px;
      transition: max-height 0.25s cubic-bezier(.3,1.05,.48,1.03);

      .header {
        color: $text-dark;
        .arrow {
          animation: arrow-down 0.15s steps(5) both;
        }
      }
    }
  }
}
