$main-color: #26a9df;
$text-dark: #162a30;
$border-color: #259dce;
$body-font: "Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica, Arial, sans-serif;

@import "inputs";
@import "animations";

@import "preference-bar";
@import "export";
@import "intro-animation";

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
}

html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}

body {
  background: $main-color;
  color: white;
  font-family: $body-font;
  font-size: 13px;

  &.dragging {
    user-select: none;
    cursor: inline-image("dragging_cursor.gif"), grab;

    .box {
      cursor: inline-image("dragging_cursor.gif"), grab !important;
    }
  }
}

a, a:visited {
  text-decoration: none;
  color: #1c323b;
  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: 0 1px 0 #1c323b;
  }
}

label {
  user-select: none;
  cursor: pointer;
}

.main-view {
  width: 760px;
  margin: 0 auto;
  padding: 80px;

  header {
    h1 {
      width: 185px;
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: "AvenirLTStd-Black", $body-font;
      font-weight: normal;
    }

    h2 {
      display: inline-block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.8em;
      width: 350px;
      margin: 0;
    }

    .header-actions {
      text-transform: uppercase;
      display: inline-block;
      width: 245px;
      font-size: 11px;
      font-weight: 500;
      text-align: right;
      line-height: 2.6em;
    }
  }
}

#result {
  width: 600px;
  height: 410px;
  background: #25a4d9;
  border-radius: 2px;
  margin-top: 35px;
  position: relative;
  overflow: hidden;

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;

    background: white;
    border-radius: 2px;

    animation-timing-function: linear;
    animation-fill-mode: both;

    cursor: pointer;
    cursor: inline-image("draggable_cursor.gif"), grab;

    &.spin {
      animation-name: bounce-spin;
      animation-duration: 1s;
    }

    &.animate {
      animation-name: animation;
    }

    &.spin, &.animate {
      transform-origin: 50% 50% !important;
    }
  }
}

.actions {
  width: 300px;
  margin: -24px auto;
  position: relative;
  z-index: 10;
  text-align: center;

  .icheckbox {
    margin-right: 5px;
    margin-left: -25px;
  }

  .checkbox-container {
    width: 180px;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
  }

  .loop-input-container, .slow-input-container {
    text-align: center;
    display: inline-block;
  }

  .loop-input-container {
    margin-left: 25px;
  }

  .slow-input-container {
    margin-left: 45px;
  }
}
