<div class="preferences-container">
  <div class="preference-bar">
    <div id="preferences"></div>
  </div>
  <div class="preference-bar-separator"></div>
</div>
<div class="main-view">
  <header>
    <h1>
      <span class="letter l1">B</span><span class="letter l2">o</span><span class="letter l3">u</span><span class="letter l4">n</span><span class="letter l5">c</span><span class="letter l6">e</span><span class="letter l7">.</span><span class="letter l8">j</span><span class="letter l9">s</span>
    </h1>
    <h2>Bounce.js is a tool and JS library that lets you create beautiful CSS3 powered animations. <br>
    Give it a <a class="spin-link" href="">spin</a>.
    </h2>
    <div class="header-actions">
      <a class="shorten-link" href="">Get Short URL</a><br><a href="" class="export-link">Export CSS</a>
    </div>
  </header>
  <div class="preview-container">
    <div id="result">
      <div class="box"></div>
    </div>
    <div class="actions">
      <button class="play-button"><i class="fa fa-play"></i>Play Animation</button>
      <div class="loop-input toggle" title="Loop Animation"><i class="fa fa-repeat"></i></div>
      <div class="slow-input toggle" title="Slow Motion"><i class="fa fa-clock-o"></i></div>
    </div>
  </div>
</div>
<div class="footer-bar">
  <a href="https://github.com/tictail/bounce.js" target="_blank" class="github-link"><i class="fa fa-github"></i> View on GitHub</a><br>
  <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&source=tweetbutton&text=Bounce.js%20-%20Generate%20Beautiful%20CSS3%20Animations&url=http%3A%2F%2Fbouncejs.com&via=JoelBesada" target="_blank"><i class="fa fa-twitter"></i> Share on Twitter</a>
  <div class="separator"></div>
  <p class="credits">
    Made by <br><a href="https://twitter.com/joelbesada" target="_blank">@JoelBesada</a><br> at <a href="https://tictail.com" target="_blank">Tictail  </a>
  </p>
</div>
<style id="animation"></style>
<div class="export"></div>
<div class="shorten"></div>
<div class="dimmer"></div>
