<div class="preferences-container">
  <div class="preference-bar">
    <div id="preferences"></div>
  </div>
  <div class="preference-bar-separator"></div>
</div>
<div class="main-view">
  <header>
    <h1>
      <span class="letter l1">b</span><span class="letter l2">o</span><span class="letter l3">u</span><span class="letter l4">n</span><span class="letter l5">c</span><span class="letter l6">e</span><span class="letter l7">.</span><span class="letter l8">j</span><span class="letter l9">s</span>
    </h1>
    <h2>bounce.js lets you create tasty CSS3 powered animations in no time. <br>
    Give it a <a class="spin-link" href="">spin</a>.
    </h2>
  </header>
  <div class="preview-container">
    <div id="result">
      <div class="box"></div>
    </div>
    <div class="actions">
      <button class="play-button"><i class="fa fa-play"></i>Play Animation</button>
      <div class="checkbox-container">
        <div class="loop-input-container">
          <input id="loop" type="checkbox" class="loop-input"> <label for="loop">Loop</label>
        </div>
        <div class="slow-input-container">
          <input id="slow" type="checkbox" class="slow-input"> <label for="slow">Slow</label>
        </div>
      </div>
    </div>
  </div>
</div>
<style id="animation"></style>

