<div class="preference-bar">
  <div id="preferences"></div>
</div>
<div class="main-view">
  <header class="intro">
    <h1>bounce.js</h1>
    <h2>bounce.js lets you create tasty CSS3 powered animations in no time. <br>
    Give it a <a class="spin-link" href="">spin</a>.
    </h2>
  </header>
  <div id="result">
    <div class="box"></div>
  </div>
  <div class="actions">
    <button class="play-button"><i class="fa fa-play"></i>Play Animation</button>
    <div class="loop-input-container">
      <input id="loop" type="checkbox" class="loop-input"> <label for="loop">Loop</label>
    </div>
  </div>
  <div id="output"></div>
</div>
<style id="animation"></style>

