<div class="preference-bar column">
  <div id="preferences"></div>
</div>
<div class="main-view column">
  <header class="intro">
    <h1>bounce.js</h1>
    <h2>bounce.js lets you create tasty CSS3 powered animations in no time. <br>
    Give it a <a class="spin-link" href="">spin</a>.
    </h2>
  </header>
  <div id="result">
    <div class="box"></div>
  </div>
  <div class="actions">
    <button class="play-button"><i class="fa fa-play"></i>Play Animation</button> <br>
    <input type="checkbox" class="loop-input">Loop <br>

  </div>
  <div id="output"></div>
</div>
<style id="animation"></style>

