<div class="component">
  <label for="type">Type</label> <br>
  <select id="type">
    <option value="scale" selected>Scale</option>
    <option value="translate">Translate</option>
    <option value="rotate">Rotate</option>
    <option value="skew">Skew</option>
  </select> <br>

  <label for="bounces">Bounces</label> <br>
  <input type="text" name="bounces" id="bounces" value=4> <br>

  <input type="checkbox" id="shake">Shake

  <div id="inputs"></div>
</div>
<hr>
