<div class="component">
  <label for="type">Type</label>
  <select class="type-input" name="type">
    <option value="scale" selected>Scale</option>
    <option value="translate">Translate</option>
    <option value="rotate">Rotate</option>
    <option value="skew">Skew</option>
  </select>

  <label for="type">Easing</label>
  <select class="easing-input" name="easing">
    <option value="bounce" selected>Bounce</option>
    <option value="sway">Sway</option>
    <option value="hardbounce">Hard Bounce</option>
    <option value="hardsway">Hard Sway</option>
  </select>

  <label for="duration">Duration</label>
  <input type="text" value="1000" name="duration" class="duration-input">

  <label for="delay">Delay</label>
  <input type="text" value="0" name="delay" class="delay-input">

  <label for="bounces">Bounces</label>
  <input type="text" name="bounces" class="bounces-input" value=4>

  <label for="stiffness">Stiffness</label>
  <div class="stiffness-input"></div>
  <input type="text" class="stiffness-value">

  <div class="inputs"></div>
</div>
