<div class="header">
  <span class="name">Scale</span>
  <span class="arrow"></span>
  <i class="fa fa-times-circle remove"></i>
  <div class="separator"></div>
</div>
<label for="type">Type</label>
<select class="type-input" name="type">
  <option value="scale" selected>Scale</option>
  <option value="translate">Translate</option>
  <option value="rotate">Rotate</option>
  <option value="skew">Skew</option>
</select>

<div class="inputs"></div>

<label for="type">Easing</label>
<select class="easing-input" name="easing">
  <option value="bounce" selected>Bounce</option>
  <option value="sway">Sway</option>
  <option value="hardbounce">Hard Bounce</option>
  <option value="hardsway">Hard Sway</option>
</select>

<label for="duration">Duration (ms)</label>
<input type="number" value="1000" step="10" name="duration" class="duration-input">

<label for="delay">Delay (ms)</label>
<input type="number" value="0" step="10" name="delay" class="delay-input">

<label for="bounces">Bounces</label>
<input type="number" name="bounces" class="bounces-input" value=4>

<label for="stiffness">Stiffness</label>
<div class="stiffness-input"></div>
<input type="text" class="stiffness-value">

