<div class="loaded">
  <textarea readonly class="code"></textarea>
  <div class="footer">
    <input id="prefix" type="checkbox" checked class="prefix-input"> <label for="prefix">Prefix CSS</label>
    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations" target="_blank" class="tutorial-link">How do I use this?</a>
  </div>
</div>
<div class="loading">
  <div class="spinner"></div>
</div>
