<button id="add">Add Component<i class="fa fa-plus-square"></i></button>
<div class="or"><span>or</span></div>
<div class="presets">
  <select data-placeholder="Select Preset" name="preset" class="preset-input">
    <option value=''></option>
    <option value='{s:[{T:"r",e:"b",d:1000,D:0,f:0,t:90,s:3,b:4},{T:"k",e:"s",d:1000,D:0,f:{x:0,y:0},t:{x:20,y:20},s:3,b:4}]}' data-name="spin">Spin</option>
    <option value='{s:[{T:"c",e:"b",d:1000,D:0,f:{x:1,y:1},t:{x:2,y:1},s:1,b:4},{T:"c",e:"b",d:1000,D:0,f:{x:1,y:1},t:{x:1,y:2},s:1,b:6}]}' data-name="jelly">Jelly</option>
    <option value='{l:1,s:[{T:"t",e:"b",d:1000,D:0,f:{x:-50,y:0},t:{x:50,y:0},s:3,b:4},{T:"c",e:"s",d:1000,D:0,f:{x:1,y:1},t:{x:1.5,y:1.5},s:3,b:4},{T:"t",e:"b",d:1000,D:500,f:{x:0,y:0},t:{x:-100,y:0},s:3,b:4},{T:"c",e:"s",d:1000,D:500,f:{x:1,y:1},t:{x:0.5,y:0.5},s:3,b:4}]}' data-name="back-and-forth">Back &amp; Forth</option>
    <option value='{l:1,s:[{T:"r",e:"b",d:1000,D:500,f:0,t:90,s:3,b:4},{T:"c",e:"b",d:1000,D:0,f:{x:1,y:1},t:{x:0.2,y:2},s:3,b:4},{T:"c",e:"b",d:1000,D:1000,f:{x:1,y:1},t:{x:5,y:0.5},s:3,b:4}]}' data-name="clock">Clock</option>
    <option value='{s:[{T:"t",e:"b",d:600,D:0,f:{x:-300,y:0},t:{x:0,y:0},s:4,b:4},{T:"c",e:"s",d:800,D:65,f:{x:1,y:1},t:{x:0.1,y:2.3},s:2,b:4},{T:"c",e:"s",d:300,D:30,f:{x:1,y:1},t:{x:5,y:1},s:3,b:4}]}' data-name="splat">Splat</option>
    <option value='{l:1,s:[{T:"t",e:"b",d:1000,D:0,f:{x:-500,y:0},t:{x:0,y:0},s:5,b:2},{T:"k",e:"s",d:1000,D:0,f:{x:0,y:0},t:{x:120,y:0},s:3,b:4},{T:"t",e:"S",d:1000,D:800,f:{x:0,y:0},t:{x:0,y:-50},s:2,b:4},{T:"t",e:"b",d:1000,D:1800,f:{x:0,y:0},t:{x:500,y:0},s:3,b:4},{T:"k",e:"b",d:1000,D:1750,f:{x:0,y:0},t:{x:40,y:0},s:3,b:4}]}' data-name="road-runner">Road Runner</option>
    <option value='{l:1,s:[{T:"t",e:"b",d:1000,D:0,f:{x:-260,y:0},t:{x:-160,y:0},s:4,b:4},{T:"t",e:"b",d:1000,D:500,f:{x:0,y:0},t:{x:100,y:0},s:4,b:4},{T:"t",e:"b",d:1000,D:1000,f:{x:0,y:0},t:{x:100,y:0},s:3,b:4},{T:"t",e:"b",d:1000,D:1500,f:{x:0,y:0},t:{x:100,y:0},s:3,b:4},{T:"t",e:"b",d:1000,D:2000,f:{x:0,y:0},t:{x:100,y:0},s:3,b:4},{T:"t",e:"b",d:1000,D:2500,f:{x:0,y:0},t:{x:100,y:0},s:3,b:4},{T:"t",e:"s",d:1000,D:0,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"t",e:"s",d:1000,D:500,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"t",e:"s",d:1000,D:1000,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"t",e:"s",d:1000,D:1500,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"t",e:"s",d:1000,D:2000,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"t",e:"b",d:1000,D:2500,f:{x:0,y:0},t:{x:0,y:-100},s:3,b:4},{T:"r",e:"b",d:1000,D:0,f:0,t:90,s:3,b:4},{T:"r",e:"b",d:1000,D:500,f:0,t:90,s:3,b:4},{T:"r",e:"b",d:1000,D:1000,f:0,t:90,s:3,b:4},{T:"r",e:"b",d:1000,D:1500,f:0,t:90,s:3,b:4},{T:"r",e:"b",d:1000,D:2000,f:0,t:90,s:3,b:4},{T:"r",e:"b",d:1000,D:2500,f:0,t:90,s:3,b:4}]}' data-name="slinky">Slinky</option>
    <option value='{s:[{T:"k",e:"s",d:750,D:0,f:{x:0,y:0},t:{x:40,y:60},s:3,b:4},{T:"c",e:"b",d:750,D:0,f:{x:1,y:1},t:{x:2,y:2},s:2,b:4}]}' data-name="smack">Smack</option>
    <option value='{s:[{T:"t",e:"b",d:1000,D:0,f:{x:-300,y:0},t:{x:0,y:0},s:5,b:4},{T:"c",e:"s",d:500,D:0,f:{x:1,y:1},t:{x:15,y:1},s:5,b:4}]}' data-name="swoosh">Swoosh</option>
    <option value='{l:1,s:[{T:"c",e:"b",d:1000,D:0,f:{x:1,y:1},t:{x:0.2,y:1},s:3,b:4},{T:"c",e:"b",d:1000,D:500,f:{x:1,y:1},t:{x:1,y:0.2},s:3,b:4},{T:"c",e:"b",d:1000,D:1000,f:{x:1,y:1},t:{x:5,y:1},s:3,b:4},{T:"c",e:"b",d:500,D:1500,f:{x:1,y:1},t:{x:1,y:5},s:1,b:2}]}' data-name="fold-and-unfold">Fold &amp; Unfold</option>
  </select>
</div>
<div class="empty-message">
    <i class="fa fa-arrow-circle-o-up"></i>
    <p>
        Add a component or select a preset
    </p>
</div>
<div class="components">
</div>
