<label for="duration">Duration in ms</label> <br>
<input type="text" name="duration" id="duration" value=1000>

<button id="play">Play</button>
<h4>Components</h4>
<button id="add">Add Component</button>
<div id="components"></div>
