<div class="loaded">
  <span class="label">Shortened URL</span>
  <input type="text" readonly class="url">
</div>
<div class="loading">
  <span class="label">Shortening URL</span>
  <div class="spinner"></div>
</div>

